* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}
body {
  margin: 2rem;
  background: #ffffff; 
  color: #92b7ff; 
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
header{
    text-align: center;
    margin-bottom: 15px; 
    align-items: stretch;
}
.main{
    padding: 20px;
    border-radius: 8px;
    width: 80%;
}
.add-buttons{
    width: 100%;
    display: flex;
    gap: 5rem;
    margin-bottom: 16px;
    justify-content: space-evenly;
}
.add-class{
    padding: 8px 14px;
    border: none;
    border-radius: 1rem;
    color: #92b7ff;
    font-weight: 600;
    cursor: pointer;
    width: 30%;
    justify-content: center;
}
.add-student{
    padding: 8px 14px;
    border: none;
    border-radius: 1rem;
    color: #92b7ff;
    font-weight: 600;
    cursor: pointer;
    width: 30%;
    align-items: center;
}
button { /* style all the buttons*/
  padding: 8px 14px;
  border: none;
  border-radius: 999px;
  background: #92b7ff;
  color: #020617;
  font-weight: 600;
  cursor: pointer;
}
button:hover {
  filter: brightness(1.1);
}
.dropdown-content, .nested-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}
